<!--
This file is part of the MediaWiki skin Chameleon.

@copyright 2013 - 2019, Stephan Gambke, mwjames
@license   GNU General Public License, version 3 (or any later version)

The Chameleon skin is free software: you can redistribute it and/or modify it
under the terms of the GNU General Public License as published by the Free
Software Foundation, either version 3 of the License, or (at your option) any
later version.

The Chameleon skin is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along
with this program. If not, see <http://www.gnu.org/licenses/>.

@author mwjames
@author Stephan Gambke
@since 1.0
@ingroup Skins
-->
<phpunit backupGlobals="false"
		 backupStaticAttributes="false"
		 bootstrap="tests/bootstrap.php"
		 cacheTokens="false"
		 colors="true"
		 convertErrorsToExceptions="true"
		 convertNoticesToExceptions="true"
		 convertWarningsToExceptions="true"
		 stopOnError="false"
		 stopOnFailure="false"
		 stopOnIncomplete="false"
		 stopOnSkipped="false"
		 beStrictAboutOutputDuringTests="true"
		 beStrictAboutTestsThatDoNotTestAnything="true"
		 checkForUnintentionallyCoveredCode="false"
		 verbose="true">
	<testsuites>
		<testsuite name="skins-chameleon">
			<directory>tests/phpunit</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist addUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">src</directory>
			<directory suffix=".php">tests/Util</directory>
		</whitelist>
	</filter>
	<php>
		<const name="USE_EXTERNAL_HTML_VALIDATOR" value="false"/>
	</php>
</phpunit>
