//
// Styling for EchoIcons
//
// This file is part of the MediaWiki skin Chameleon.
// @copyright 2021, Morne Alberts, GNU General Public License, version 3 (or any later version)
//
// @since 3.2

.echo-icons {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	list-style: none;
	margin: 0.5rem 0;
	padding: 0;

	& > * {
		margin-right: 0.75rem;
	}
}

.p-navbar .navbar-nav .echo-icons {
	padding-left: 1rem;
	padding-right: 1rem;
}

#pt-notifications-alert .mw-echo-notifications-badge,
#pt-notifications-notice .mw-echo-notifications-badge {
	top: 0px;
}
