//
// Styling for FooterPlaces, FooterInfo & FooterIcons
//
// This file is part of the MediaWiki skin Chameleon.
// @copyright 2013 - 2019, Stephan Gambke, GNU General Public License, version 3 (or any later version)
//
// @since 2.0

.footer-info, .footer-places, .footer-icons {

	@extend .d-flex;
	@extend .flex-wrap;

	margin: {
		left: -1 * map-get( $spacers, 2);
		right: -1 * map-get( $spacers, 2);
	};

	> div {
		@extend .small;

		margin: {
			left: map-get( $spacers, 2);
			right: map-get( $spacers, 2);
			top: map-get( $spacers, 1);
			bottom: map-get( $spacers, 1);
		};

	}
}
