//
// Styles for the MainContent component
//
// This file is part of the MediaWiki skin Chameleon.
// @copyright 2013 - 2018, Stephan Gambke, GNU General Public License, version 3 (or any later version)
//
// @since 2.0

.mw-body {

	@include media-breakpoint-up($cmln-search-bar-collapse-point) {
		padding: 0 2rem;
		margin-bottom: 1rem;
	}

	#siteSub {
		display: none
	}

	.firstHeading {
		border-bottom: $cmln-first-heading-underline-width solid $cmln-first-heading-underline-color;
		margin-bottom: $cmln-first-heading-margin-bottom;
	}

	.jump-to-nav {
		@extend .sr-only;
	}

	.mw-indicators {
		float: right;
		line-height: 1.6;
		font-size: 0.875em;
		position: relative;
		z-index: 1;
	}

	.mw-indicator {
		display: inline-block;
		zoom: 1;
		*display: inline;
	}

	.mw-editsection {
		@include mw-editsection-like;
	}

	.printfooter {
		display: none;
	}

	.catlinks {

		margin: 2rem 0 0;

		ul {
			@extend .list-inline;
			display: inline-block;
			margin-left: $list-inline-padding;

			> li {
				@extend .list-inline-item
			}
		}
	}
	// Table of contents
	.toc {

		#toctitle {

			h2 {
				display: inline;
				font-size: $cmln-toctitle-font-size;
			}

			.toctoggle {
				@include mw-editsection-like;
			}
		}

		ul {
			@extend .list-unstyled;

			margin: {
				top: map_get($spacers, 2);
				bottom: map_get($spacers, 2);
			}

			li {
				a {
					.tocnumber {
						display: inline-block;
						text-align: right;
						margin-right: map_get($spacers, 2);
						min-width: 2ex; //up to two digits
					}
				}

				ul li {
					a .tocnumber {
						min-width: 3.5ex; // two digits + dot + digit
					}

					ul li {
						a .tocnumber {
							min-width: 5ex; // two digits + dot + digit + dot + digit
						}
					}
				}
			}

		}
	}

	// Lists
	ol {
		list-style: outside none decimal;
	}

	ul {
		@include bullet();
	}

	ol, ul {
		padding-left: $list-level-indent;
		margin: 0;

		ul {
			@include bullet($list-bullet-color, $list-bullet-size*.9);
		}

		ol, ul {
			ul {
				@include bullet($list-bullet-color, $list-bullet-size*.7);
			}
		}
	}

	// action=edit
	#wpTextbox1 {
		width: 100%;
	}

}
