//
// Styles for the NavbarHorizontal component
//
// This file is part of the MediaWiki skin Chameleon.
// @copyright 2013 - 2018, Stephan Gambke, GNU General Public License, version 3 (or any later version)
//
// @since 2.0

.p-navbar {

	@extend .navbar;
	@extend .navbar-light;
	@extend .bg-#{$cmln-navbar-bg-color};

	&.collapsible {
		@extend .navbar-expand-#{$cmln-navbar-horizontal-collapse-point};
	}

	&.not-collapsible {
		@extend .navbar-expand;
	}

	&.small {
		padding: {
			top: 0;
			bottom: 0;
		};
	}

	a {
		outline: none; // No outline around menu items.
	}

	.navbar-nav {

		@extend .flex-wrap;

		@media ( max-width( $cmln-collapse-point ) ) {
			margin-top: 1rem;
		}

		.dropdown-menu {

			// no list bullets in a dropdown
			list-style: none;
			padding-left: 0;

			// Override nav-link styling in case the menu item is in a dropdown
			li > a {

				@extend .dropdown-item;

				&:before {
					margin-right: 2 * $cmln-icon-margin;
				}
			}
		}

		.navbar-tools {

			// TODO: use dedicated variable instead of $nav-link-padding-x
			padding-left: $nav-link-padding-x;
			padding-right: $nav-link-padding-x;

		}

	}

	.navbar-tool > a {

		@extend .nav-link;

		padding-left: 0;
		padding-right: 0;

		.badge {
			display: inline-block;
			position: absolute;
			right: -.8 * $cmln-icon-margin;
			bottom: .2rem;
			margin-right: $cmln-icon-margin;
			font-size: 50%;
		}
	}

	.navbar-toggler {
		@extend .ml-auto;
	}

	.navbar-brand {
		&.p-logo {

			height: 2 * $nav-link-padding-y + $font-size-base;

			padding: {
				top: 0;
				bottom: 0;
			};
		}

		img {
			height:   $cmln-navbar-logo-height;
			position: relative;
			top:      (2 * $nav-link-padding-y + $font-size-base - $cmln-navbar-logo-height) / 2;
		}
	}

	.navbar-form {

		padding-left: $nav-link-padding-x;
		padding-right: $nav-link-padding-x;

		button {
			//@extend .btn-#{$cmln-search-bar-btn-color}; // FIXME: Should this be ".btn-secondary"? Or some self-defined button style?
			color: $navbar-light-color;

			@include hover-focus {
				color: $navbar-light-hover-color;
			}
		}
	}
}
