//
// Styling for PageTools
//
// This file is part of the MediaWiki skin Chameleon.
// @copyright 2013 - 2019, Stephan Gambke, GNU General Public License, version 3 (or any later version)
//
// @since 2.0

.pagetools {

	&, .tab-group {

		@extend .d-flex;
		@extend .flex-row;
		@extend .flex-wrap;
		@extend .justify-content-center;

		@include list-unstyled;

		@include font-size( $cmln-page-tools-font-size );

		margin: {
			left: (-$cmln-page-tools-item-margin / 2);
			right: (-$cmln-page-tools-item-margin / 2);
		}

		> * {
			margin: {
				left: ($cmln-page-tools-item-margin / 2);
				right: ($cmln-page-tools-item-margin / 2);
			}
		}

		a {

			@include link($cmln-page-tools-link...);

			&.new {
				@include link($cmln-page-tools-link-new...);
			}

			&.selected {
				font-weight: bold;
				@include link($cmln-page-tools-link...);
			}
		}
	}
}
