//
// Styling for PersonalTools
//
// This file is part of the MediaWiki skin Chameleon.
// @copyright 2013 - 2018, Stephan Gambke, GNU General Public License, version 3 (or any later version)
//
// @since 2.0

.pull-right .p-personal-tools {
	@extend .justify-content-right;
}

.pull-left .p-personal-tools {
	@extend .justify-content-left;
}

.p-personal-tools {

	@extend .d-flex;
	@extend .flex-row;
	@extend .flex-wrap-reverse;
	@extend .justify-content-center;

	@include list-unstyled;

	margin: 0 (-$cmln-personal-tools-item-margin / 2);

	> * {
		margin: {
			left: ($cmln-personal-tools-item-margin / 2);
			right: ($cmln-personal-tools-item-margin / 2);
		}
	}
}
