//
// Styling for PersonalTools
//
// This file is part of the MediaWiki skin Chameleon.
// $copyright 2013 - 2018, Stephan Gambke, GNU General Public License, version 3 (or any later version)
//
// $since 2.0


@include media-breakpoint-up($personal-tools-breakpoint) {

	$infix: breakpoint-infix($personal-tools-breakpoint, $grid-breakpoints);

	.pull-right .p-personal-tools {
		@extend .justify-content#{$infix}-right;
	}

	.pull-left .p-personal-tools {
		@extend .justify-content#{$infix}-left;
	}

	.p-personal-tools {
		@extend .d#{$infix}-flex;
		@extend .flex#{$infix}-row;
		@extend .flex#{$infix}-wrap-reverse;

		@include list-unstyled;

		margin: 0 (-$personal-tools-item-margin / 2);

		> * {
			margin: 0 $personal-tools-item-margin / 2;
		}
	}
}