//
// Bootstrap variables modified for the Chameleon default theme
//
// Based on Bootstrap's _variables.scss
//
// This file is part of the MediaWiki skin Chameleon.
// @copyright 2013 - 2019, Stephan Gambke, GNU General Public License, version 3 (or any later version)
//
// @since 2.0

//
// Color system
//

// stylelint-disable
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$grays: () !default;
$grays: map-merge((
	"100": $gray-100,
	"200": $gray-200,
	"300": $gray-300,
	"400": $gray-400,
	"500": $gray-500,
	"600": $gray-600,
	"700": $gray-700,
	"800": $gray-800,
	"900": $gray-900
), $grays);

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$chambray: #355B84 ;
$cobalt: #1B599B;
$burgundy: #9b1b2f;

$colors: () !default;
$colors: map-merge((
	"blue":       $blue,
	"indigo":     $indigo,
	"purple":     $purple,
	"pink":       $pink,
	"red":        $red,
	"orange":     $orange,
	"yellow":     $yellow,
	"green":      $green,
	"teal":       $teal,
	"cyan":       $cyan,
	"white":      $white,
	"gray":       $gray-600,
	"gray-dark":  $gray-800
), $colors);

$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$error:         $danger !default;
$light:         $gray-200 !default;  // better contrast than $gray-100
$darker:		$gray-400 !default;
$dark:          $gray-800 !default;

$theme-colors: () !default;
$theme-colors: map-merge((
	"primary":    $primary,
	"secondary":  $secondary,
	"success":    $success,
	"info":       $info,
	"warning":    $warning,
	"danger":     $danger,
	"error":      $error,
	"light":      $light,
	"darker":     $darker,
	"dark":       $dark
), $theme-colors);
// stylelint-enable

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-shadows:            true !default;
$enable-gradients:          true !default;

// Wiki pages tend to be text-heavy, so make headings not quite as large as might be appropriate for more
// visually-oriented websites

$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`

$h1-font-size:                $font-size-base * 2.2 !default;
$h2-font-size:                $font-size-base * 1.7 !default;
$h3-font-size:                $font-size-base * 1.4 !default;
$h4-font-size:                $font-size-base * 1.2 !default;
$h5-font-size:                $font-size-base * 1.1 !default;
$h6-font-size:                $font-size-base * 1.0 !default;

// Links
$link-color: $cobalt;
$cmln-link-formats: (
	new: ('color': $burgundy, 'hover-color': darken($burgundy, 0.15)),
);

// Navbar
$navbar-light-color:                $chambray !default; // cmln: improved contrast
$navbar-light-hover-color:          darken($navbar-light-color, 0.15) !default;
$navbar-light-active-color:         darken($navbar-light-color, 0.3) !default;
$navbar-light-disabled-color:       fade_out($navbar-light-color, 0.3) !default;
$navbar-light-toggler-border-color: fade_out($navbar-light-color, 0.5) !default;

$navbar-toggler-padding-y:          .1rem !default;
$navbar-toggler-padding-x:          .5rem !default;
$navbar-toggler-font-size:          1rem !default;
//$navbar-toggler-border-radius:      $btn-border-radius !default;
$navbar-nav-link-padding-x:         1rem !default;

// Body
$body-bg:                   $white !default;
$body-color:                $gray-900 !default;

// PersonalTools
$cmln-personal-tools-link-new: ('color': $gray-600, 'hover-color': darken($gray-600, 0.15)) !default;

// PageTools
$cmln-page-tools-link-new: ('color': $gray-600, 'hover-color': darken($gray-600, 0.15)) !default;

//$enable-caret:                                true !default;
//$enable-rounded:                              true !default;
//$enable-shadows:                              false !default;
//$enable-gradients:                            false !default;
//$enable-transitions:                          true !default;
//$enable-prefers-reduced-motion-media-query:   true !default;
//$enable-hover-media-query:                    false !default; // Deprecated, no longer affects any compiled CSS
//$enable-grid-classes:                         true !default;
//$enable-pointer-cursor-for-buttons:           true !default;
//$enable-print-styles:                         true !default;
$enable-responsive-font-sizes:                true !default;
//$enable-validation-icons:                     true !default;
//$enable-deprecation-messages:                 true !default;
