//
// Bootstrap variables modified for the Chameleon default theme
//
// Based on Bootstrap's _variables.scss
//
// This file is part of the MediaWiki skin Chameleon.
// @copyright 2013 - 2018, Stephan Gambke, GNU General Public License, version 3 (or any later version)
//
// @since 2.0

//
// Color system
//

// stylelint-disable
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$grays: () !default;
$grays: map-merge((
	"100": $gray-100,
	"200": $gray-200,
	"300": $gray-300,
	"400": $gray-400,
	"500": $gray-500,
	"600": $gray-600,
	"700": $gray-700,
	"800": $gray-800,
	"900": $gray-900
), $grays);

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$chambray: #355B84 ;
$cobalt: #1B599B;
$burgundy: #9b1b2f;

$colors: () !default;
$colors: map-merge((
	"blue":       $blue,
	"indigo":     $indigo,
	"purple":     $purple,
	"pink":       $pink,
	"red":        $red,
	"orange":     $orange,
	"yellow":     $yellow,
	"green":      $green,
	"teal":       $teal,
	"cyan":       $cyan,
	"white":      $white,
	"gray":       $gray-600,
	"gray-dark":  $gray-800
), $colors);

$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-200 !default;  // better contrast
$dark:          $gray-800 !default;

$theme-colors: () !default;
$theme-colors: map-merge((
	"primary":    $primary,
	"secondary":  $secondary,
	"success":    $success,
	"info":       $info,
	"warning":    $warning,
	"danger":     $danger,
	"light":      $light,
	"dark":       $dark
), $theme-colors);
// stylelint-enable

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-shadows:            true !default;
$enable-gradients:          true !default;

$navbar-light-color:                $chambray !default; // cmln: improved contrast
$navbar-light-hover-color:          darken($navbar-light-color, 15%) !default;
$navbar-light-active-color:         darken($navbar-light-color, 30%) !default;
$navbar-light-disabled-color:       fade_out($navbar-light-color, 30%) !default;
$navbar-light-toggler-border-color: fade_out($navbar-light-color, 50%) !default;

$navbar-toggler-padding-y:          .1rem !default;
$navbar-toggler-padding-x:          .5rem !default;
$navbar-toggler-font-size:          1rem !default;
//$navbar-toggler-border-radius:      $btn-border-radius !default;


// Body
//
// Settings for the `<body>` element.

$body-bg:                   $white !default;
$body-color:                $gray-900 !default;

// Links
//
// Style anchor elements.

$link-color:                $cobalt !default;
$link-new-color:            $burgundy !default;
$link-decoration:           none !default;
$link-hover-color:          darken($link-color, 15%) !default;
$link-hover-decoration:     underline !default;

