//
// Basic styles
//
// This file is part of the MediaWiki skin Chameleon.
// @copyright 2013 - 2019, Stephan Gambke, GNU General Public License, version 3 (or any later version)
//
// @since 2.0

body {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	min-height: 100vh;
}

// Lists
ol {
	list-style: outside none decimal;
}

ul {
	@include bullet();
}

ol, ul {
	padding-left: $list-level-indent;

	margin: {
		left: 0;
		right: 0;
	}

	ul {
		@include bullet($list-bullet-color, $list-bullet-size*.9);
	}

	ol, ul {
		ul {
			@include bullet($list-bullet-color, $list-bullet-size*.7);
		}
	}
}
