//
// Variables modified or introduced for the Chameleon skin
//
// This file is part of the MediaWiki skin Chameleon.
// @copyright 2013 - 2018, Stephan Gambke, GNU General Public License, version 3 (or any later version)
//
// @since 2.0

$cmln-collapse-point: md !default;

//$enable-shadows: true;
//$enable-gradients: true;

// PersonalTools
$personal-tools-item-margin: 1rem !default;

// SearchBar
$cmln-search-bar-collapse-point: $cmln-collapse-point !default;
$cmln-search-bar-btn-color: light !default; // @see $theme-colors
$search-bar-go-btn-label: fa-share !default; // FIXME: include "fas"?
$search-bar-search-btn-label: fa-search !default;

// NavBarHorizontal
$cmln-navbar-horizontal-collapse-point: $cmln-collapse-point !default;
$cmln-navbar-horizontal-theme: light !default; // light | dark
$cmln-navbar-horizontal-bg-color: light !default; // @see $theme-colors
$cmln-navbar-horizontal-toggler-color: light !default; // @see $theme-colors
// FIXME: Add variable for toggler icon

// MainContent
$cmln-first-heading-underline-width: $hr-border-width !default;
$cmln-first-heading-underline-color: $hr-border-color !default;
$cmln-first-heading-underline-distance: $hr-margin-y !default;
$cmln-toctitle-font-size: $font-size-lg !default;

// list parameters
$list-bullet-size: 0.5 * $font-size-base;
$list-bullet-color: $gray-300;
$list-level-indent: 3.5ex;




// Global textual link colors.
//$link-color: $brand-primary;
$link-new-color: #b52b27;

$link-stub-color: $link-color;
$link-interwiki-color: $link-color;
$link-external-color: $link-color;


$thumbnail-caption-padding: 3px;

// logo will be scaled down to this height to fit into the navbar
// (this value should be less than the navbar-height)
//$navbar-logo-height: .9 * $navbar-height;
//
$navbar-user-loggedin: theme-color("primary");
$navbar-user-not-loggedin: $navbar-light-disabled-color; // FIXME: Fix color

$navbar-newtalk-available: theme-color("primary"); // $brand-primary;
$navbar-newtalk-not-available: $navbar-light-disabled-color; // FIXME: Fix color

$toolbar-height: 30px;
$toolbar-padding-vertical: (($toolbar-height - $line-height-base) / 2);
$toolbar-padding-horizontal: $navbar-padding-x;
