//
// Variables used by the Chameleon skin
//
// This file is part of the MediaWiki skin Chameleon.
// @copyright 2013 - 2019, Stephan Gambke, GNU General Public License, version 3 (or any later version)
//
// @since 2.0


// Variable names should follow the `$component-state-property-size` formula
// (leaving out inapplicable parts) for consistent naming.
// Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.


// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$cmln-collapse-point: 1105px !default;

$cmln-grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	cmln: $cmln-collapse-point,
	xl: 1200px,
	xxl: 1400px
) !default;

$grid-breakpoints: $cmln-grid-breakpoints;

// Global textual link colors.
$cmln-link-format: $link-color none darken($link-color, 0.15) underline !default;

$cmln-link-formats: () !default;
$cmln-link-formats: map_merge((
	new: theme-color("danger") none darken(theme-color("danger"), 0.15) underline,
	stub: $cmln-link-format,
	extiw: $cmln-link-format,
	external: $cmln-link-format,
), $cmln-link-formats);

// PersonalTools
$cmln-personal-tools-item-margin: map_get( $spacers, 4 ) !default;

$cmln-personal-tools-font-size: $font-size-sm !default;
$cmln-personal-tools-item-margin: map_get( $spacers, 4 ) !default;

$cmln-personal-tools-link: $cmln-link-format !default;
$cmln-personal-tools-link-new: map_get( $cmln-link-formats, "new" ) !default;

// PageTools
$cmln-page-tools-font-size: $font-size-sm !default;
$cmln-page-tools-item-margin: map_get( $spacers, 4 ) !default;

$cmln-page-tools-link: $cmln-link-format !default;
$cmln-page-tools-link-new: map_get( $cmln-link-formats, "new" ) !default;

// SearchBar
$cmln-search-bar-collapse-point: cmln !default;
$cmln-search-bar-btn-color: light !default; // @see $theme-colors

// Navbar
$cmln-navbar-bg-color: light !default; // @see $theme-colors
$cmln-navbar-toggler-color: light !default; // @see $theme-colors

$cmln-navbar-logo-height: 2 * $nav-link-padding-y + $font-size-base + $navbar-padding-y;

// NavbarHorizontal
$cmln-navbar-horizontal-collapse-point: cmln !default;

// Icon defaults
$cmln-icon-margin: map_get( $spacers, 2 ) !default;

$cmln-icons: () !default;
$cmln-icons: map-merge((
	go-btn: fas fa-share,
	search-btn: fas fa-search,
	navbar-toggler: fas fa-bars,
	navbar-tool-link: fas fa-asterisk,  // Default navbar page tool icon. Has to be specified before any specific item.
	navbar-more-tools: fas fa-ellipsis-h,
	navbar-usernotloggedin: fas fa-user,
	navbar-userloggedin: fas fa-user,
	ca-cargo-purge: fas fa-redo,
	ca-delete: fas fa-trash-alt,
	ca-edit: far fa-edit,
	ca-formedit: far fa-edit,
	ca-history: fas fa-history,
	ca-move: fas fa-location-arrow,
	ca-nstab-category: fas fa-layer-group,
	ca-nstab-concept: fas fa-puzzle-piece,
	ca-nstab-form: fas fa-address-card,
	ca-nstab-geojson: fas fa-globe,
	ca-nstab-help: fas fa-question,
	ca-nstab-image: far fa-file-image,
	ca-nstab-main: far fa-file,
	ca-nstab-mediawiki: fas fa-cogs,
	ca-nstab-project: fas fa-project-diagram,
	ca-nstab-rule: fas fa-ruler,
	ca-nstab-special: fas fa-cogs,
	ca-nstab-template: fas fa-stamp,
	ca-nstab-user: far fa-user,
	ca-nstab-widget: fas fa-drafting-compass,
	ca-protect: fas fa-lock,
	ca-purge: fas fa-redo,
	ca-recreatedata: fas fa-database,
	ca-talk: far fa-comments,
	ca-unprotect: fas fa-lock,
	ca-unwatch: far fa-eye-slash,
	ca-ve-edit: far fa-edit,
	ca-viewsource: fas fa-code,
	ca-watch: far fa-eye,
	feedlink: fas fa-rss,
	interlanguage-link-target: fas fa-flag,
	mw-navigation: fas fa-directions,
	n-Homepage: fas fa-home,
	n-IRC: fas fa-hashtag,
	n-Index: fas fa-th,
	n-List-of-files-with-duplicates: fas fa-check-double,
	n-Slack: fab fa-slack,
	n-Uncategorized-files: fas fa-object-ungroup,
	n-help-mediawiki: fas fa-question,
	n-help: fas fa-question,
	n-mainpage-description: fas fa-home,
	n-mainpage: fas fa-home,
	n-newfiles: fas fa-images,
	n-newimages: fas fa-seedling,
	n-newpages: fas fa-seedling,
	n-portal: fas fa-archway,
	n-randompage: fas fa-random,
	n-recentchanges: fas fa-backward,
	n-upload: fas fa-upload,
	p-lang-toggle: fas fa-language,
	p-tb-toggle: fas fa-toolbox,
	pt-anoncontribs: fas fa-question,  // FIXME: Pers tools: Anon contribs
	pt-anontalk: fas fa-comments,
	pt-createaccount: fas fa-user-plus,
	pt-login: fas fa-sign-in-alt,
	pt-logout: fas fa-sign-out-alt,
	pt-mycontris: fas fa-question,  // FIXME: Pers tools: My contribs
	pt-mytalk: fas fa-comments,
	pt-notifications-alert: fas fa-bell,  // Personal tools link: Echo
	pt-notifications-notice: fas fa-inbox,  // Personal tools link: Echo
	pt-preferences: fas fa-sliders-h,
	pt-userpage: fas fa-home,
	pt-watchlist: far fa-eye,
	t-blockip: fas fa-user-slash,
	t-cargopagevalueslink: fas fa-thermometer-half,
	t-cite: fas fa-question,  // Toolbox link: Cite this page
	t-contributions: fas fa-user-edit,
	t-contributors: fas fa-user-edit,
	t-emailuser: fas fa-at,
	t-info: fas fa-info,  // Toolbox link: Page information
	t-log: fas fa-clipboard-list,
	t-permalink: fas fa-link,
	t-print: fas fa-print,
	t-recentchanges: fas fa-clock,
	t-recentchangeslinked: fas fa-backward,
	t-smwbrowselink: fas fa-compass,  // Toolbox link: Browser properties
	t-specialpages: fas fa-cogs,
	t-upload: fas fa-upload,
	t-userrights: fas fa-users, // Toolbox link: View user groups
	t-wb-concept-uri: fas fa-stroopwafel,
	t-whatlinkshere: fas fa-sitemap,
	t-wikibase: fas fa-stroopwafel,
), $cmln-icons);


// MainContent
$cmln-first-heading-underline-width: $hr-border-width !default;
$cmln-first-heading-underline-color: $hr-border-color !default;
$cmln-first-heading-margin-bottom: $hr-margin-y !default;

$cmln-toc-title-font-size: $font-size-lg !default;
$cmln-toc-group-margin-y: map_get($spacers, 1) !default;
$cmln-toc-subgroup-margin-left: map_get($spacers, 2) !default;
$cmln-toc-entry-number-padding-right: map_get($spacers, 2) !default;

// list parameters
$list-bullet-size: 0.5 * $font-size-base;
$list-bullet-color: $gray-300;
$list-level-indent: 3.5ex;

// Non-Bootstrap variables previously defined in _light.scss
$error: $danger !default;

/// ==> From Chameleon 1

$thumbnail-caption-padding: 3px;

// logo will be scaled down to this height to fit into the navbar
// (this value should be less than the navbar-height)
//$navbar-logo-height: .9 * $navbar-height;
//
$navbar-user-loggedin: theme-color("primary");
$navbar-user-not-loggedin: $navbar-light-disabled-color; // FIXME: Fix color

$navbar-newtalk-available: theme-color("primary"); // $brand-primary;
$navbar-newtalk-not-available: $navbar-light-disabled-color; // FIXME: Fix color
