//
// Variables used by the Chameleon skin
//
// This file is part of the MediaWiki skin Chameleon.
// @copyright 2013 - 2018, Stephan Gambke, GNU General Public License, version 3 (or any later version)
//
// @since 2.0


// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.


$cmln-collapse-point: md !default;

// Global textual link colors.
$cmln-link-format: $link-color none darken($link-color, 15%) underline !default;

$cmln-link-formats: () !default;
$cmln-link-formats: map_merge((
	new: theme-color("danger") none darken(theme-color("danger"), 15%) underline,
	stub: $cmln-link-format,
	extiw: $cmln-link-format,
	external: $cmln-link-format,
), $cmln-link-formats);

// PersonalTools
$cmln-personal-tools-item-margin: map_get( $spacers, 4 ) !default;

// PageTools
$cmln-page-tools-font-size: $font-size-sm !default;
$cmln-page-tools-item-margin: map_get( $spacers, 4 ) !default;

$cmln-page-tools-link: $cmln-link-format !default;
$cmln-page-tools-link-new: map_get( $cmln-link-formats, "new" ) !default;

// SearchBar
$cmln-search-bar-collapse-point: $cmln-collapse-point !default;
$cmln-search-bar-btn-color: light !default; // @see $theme-colors

// Navbar
$cmln-navbar-bg-color: light !default; // @see $theme-colors
$cmln-navbar-toggler-color: light !default; // @see $theme-colors

// NavbarHorizontal
$cmln-navbar-horizontal-collapse-point: $cmln-collapse-point !default;

// Icon defaults
$cmln-icon-margin: map_get( $spacers, 2 ) !default;

$cmln-icons: () !default;
$cmln-icons: map-merge((
	go-btn: fas fa-share,
	search-btn: fas fa-search,
	navbar-toggler: fas fa-bars,
	n-mainpage-description: fas fa-home,
	n-recentchanges: fas fa-backward,
	n-randompage: fas fa-random,
	n-help: fas fa-question,
	p-lang-toggle: fas fa-language,
	p-tb-toggle: fas fa-toolbox,
	ca-nstab-main: far fa-file,
	ca-nstab-mediawiki: far fa-cogs,
	ca-nstab-special: fas fa-cogs,
	ca-nstab-image: far fa-file-image,
	ca-talk: far fa-comments,
	ca-edit: far fa-edit,
	ca-viewsource: fas fa-code,
	ca-history: fas fa-history,
	ca-delete: fas fa-trash-alt,
	ca-move: fas fa-location-arrow,
	ca-protect: fas fa-lock,
	ca-unprotect: fas fa-lock,
	ca-watch: far fa-eye,
	ca-unwatch: far fa-eye-slash,
	ca-purge: fas fa-redo,
	feedlink: fas fa-rss,
	t-contributions: fas fa-user-edit,
	t-log: fas fa-clipboard-list,
	t-whatlinkshere: fas fa-sitemap,
	t-recentchangeslinked: fas fa-backward,
	t-upload: fas fa-upload,
	t-specialpages: fas fa-cogs,
	t-print: fas fa-print,
	t-permalink: fas fa-link,
	t-info: fas fa-info,  // Toolbox link: Page information
	t-cite: fas fa-question,  // Toolbox link: Cite this page
	t-smwbrowselink: fas fa-compass,  // Toolbox link: Browser properties
), $cmln-icons);


// MainContent
$cmln-first-heading-underline-width: $hr-border-width !default;
$cmln-first-heading-underline-color: $hr-border-color !default;
$cmln-first-heading-margin-bottom: $hr-margin-y !default;
$cmln-toctitle-font-size: $font-size-lg !default;

// Global textual link colors.
$cmln-link-colors: () !default;
$cmln-link-colors: map_merge((
	new: theme-color("danger") none darken(theme-color("danger"), 15%) underline,
	stub: $link-color none darken($link-color, 15%) underline,
	extiw: $link-color none darken($link-color, 15%) underline,
	external: $link-color none darken($link-color, 15%) underline
), $cmln-link-colors);


// list parameters
$list-bullet-size: 0.5 * $font-size-base;
$list-bullet-color: $gray-300;
$list-level-indent: 3.5ex;



/// ==> From Chameleon 1



$thumbnail-caption-padding: 3px;

// logo will be scaled down to this height to fit into the navbar
// (this value should be less than the navbar-height)
//$navbar-logo-height: .9 * $navbar-height;
//
$navbar-user-loggedin: theme-color("primary");
$navbar-user-not-loggedin: $navbar-light-disabled-color; // FIXME: Fix color

$navbar-newtalk-available: theme-color("primary"); // $brand-primary;
$navbar-newtalk-not-available: $navbar-light-disabled-color; // FIXME: Fix color

