/**
 * Styles dump for the Chameleon skin
 *
 * $todo This is a mess. Needs rework.
 *
 * This file is part of the MediaWiki skin Chameleon.
 *
 * @copyright 2013 - 2015, Stephan Gambke
 * $license   GNU General Public License, version 3 (or any later version)
 *
 * The Chameleon skin is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by the Free
 * Software Foundation, either version 3 of the License, or (at your option) any
 * later version.
 *
 * The Chameleon skin is distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
 * details.
 *
 * You should have received a copy of the GNU General Public License along
 * with this program. If not, see <http://www.gnu.org/licenses/>.
 *
 * $author Stephan Gambke
 * @since 1.0
 * $ingroup Skins
 */

// style horizontal toolbar
// FIXME
//#preftoc {
//	@include nav;
//	@include nav-tabs;
//
//	margin-bottom: 2ex;
//
//	> li.selected > a {
//		&,
//		&:hover,
//		&:focus {
//			color: $nav-tabs-active-link-hover-color;
//			background-color: $nav-tabs-active-link-hover-bg;
//			border: 1px solid $nav-tabs-active-link-hover-border-color;
//			border-bottom-color: transparent;
//			cursor: default;
//		}
//	}
//}

// no bullets for File namespace
.ns-6 .mw-body ul {
	list-style: none;
	padding: 0;
}


dt {
	font-weight: bold;
	margin-bottom: .1em;
}

dl {
	margin-top: .2em;
	margin-bottom: .5em;
}

dd {
	line-height: 1.5em;
	margin-left: 1.6em;
	margin-bottom: .1em;
}

pre, code, tt, kbd, samp, .mw-code {
	/*
	 * Some browsers will render the monospace text too small, namely Firefox, Chrome and Safari.
	 * Specifying any valid, second value will trigger correct behavior without forcing a different font.
	 */
	font-family: monospace, Courier;
}

code {
	color: black;
	background-color: #f9f9f9;
	border: 1px solid #ddd;
	border-radius: 2px;
	padding: 1px 4px;
}

pre, .mw-code {
	color: black;
	background-color: #f9f9f9;
	border: 1px solid #ddd;
	padding: 1em;
}

/* Tables */
table {
	font-size: 100%;
}

.skin-chameleon .mw-specialpages-table {
	margin-bottom: 0;
	margin-top: 0;
}

/* Forms */
fieldset {
	border: 1px solid #2f6fab;
	margin: 1em 0 1em 0;
	padding: 0 1em 1em;
	line-height: 1.5em;
}

fieldset.nested {
	margin: 0 0 0.5em 0;
	padding: 0 0.5em 0.5em;
}

legend {
	padding: .5em;
	font-size: 95%;
}

form {
	border: none;
	margin: 0;
}

textarea {
	width: 100%;
	padding: .1em;
	display: block;
}

select {
	vertical-align: top;
}


/* Small for tables and similar */
.small {
	font-size: 94%;
}

table.small {
	font-size: 100%;
}

.mw-warning {
	border: 1px solid #aaa;
	background-color: #f9f9f9;
	padding: 5px;
	font-size: 95%;
	margin-left: 50px;
	margin-right: 50px;
	text-align: center;
}

.mw-changeslist-legend {
	dt {
		clear: left;
	}

	dt, dd {
		line-height: 1.3em;
	}
}

table.mw-recentchanges-table {
	width: 100%;
}

// FIXME
//.layout-fixedhead, .layout-stickyhead, .layout-clean {
//	h1, h2, h3, h4, h5, h6 {
//		>span.mw-headline:before {
//			content: "";
//			display: block;
//			height: $navbar-height;
//			margin-top: 0-$navbar-height;
//		}
//	}
//}

.mw-headline-anchor {
	display: none;
}
