//
// Flex classes missing in Bootstrap
//
// This file is part of the MediaWiki skin Chameleon.
// @copyright 2013 - 2019, Stephan Gambke, GNU General Public License, version 3 (or any later version)
//
// @since 2.0


@each $breakpoint in map-keys($grid-breakpoints) {
	@include media-breakpoint-up($breakpoint) {

		$infix: breakpoint-infix($breakpoint, $grid-breakpoints);

		.justify-content#{$infix}-left   { justify-content: left !important; }
		.justify-content#{$infix}-right  { justify-content: right !important; }
		.justify-content#{$infix}-evenly { justify-content: space-evenly !important; }

	}
}
